---
---

@charset "utf-8";
@use "sass:color";

// variables.less
$theme-primary: #7D1424; //#5F0F12; //#501C07; //#25373D; //#7D1424; //#25373D;
$theme-dark: black;
$theme-primary-alt: #FFFCF5; //#F6F7F2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
