<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Melabagan Banquets</h2>
                <hr class="light">
                <p class="text-faded">
                    Welcome to Melabagan Banquet, Dum Dum's newest and most luxurious venue for celebrations and events! Strategically located just 10 minutes away from the airport and opposite the Fashion Factory Mall on Dum Dum Road, Melabagan Banquet is designed to make your special occasions truly unforgettable.
                </p>
                <p class="text-faded">
                    With a sprawling lawn, a massive air-conditioned hall, and the capacity to host over 300 guests, we are the perfect choice for weddings, receptions, corporate events, conferences, seminars, birthday parties, and more. Our venue boasts modern amenities, including ample in-house parking, a serene temple complex, well-appointed private rooms for your comfort, and top-notch facilities to meet all your event needs.
                </p>
                <p class="text-faded">
                    Whether you're planning an elegant wedding, a milestone celebration, or a business gathering, Melabagan Banquet offers the perfect blend of sophistication and convenience. Let us help you create memories that last a lifetime!
                </p>
                <p class="text-faded strong">
                    Melabagan Banquet – Where luxury meets celebration.
                </p>
                <a href="{{site.calendy_url}}" target="_blank" class="btn btn-default btn-xl">Meet us today</a>
            </div>
        </div>
    </div>
</section>
