<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{site.title}}</h2>
                <!--<hr class="light"> -->
                <section class="divider"><img src="img/divider.png" alt="divider"></section>
                <p class="">
                    Welcome to {{site.title}}, Dum Dum's newest and most luxurious venue for celebrations and events! Strategically located just 10 minutes away from the airport and opposite the Fashion Factory Mall on Dum Dum Road, {{site.title}} is designed to make your special occasions truly unforgettable.
                </p>
                <p class="">
                    With a sprawling lawn, a massive air-conditioned hall, and the capacity to host over 500 guests, we are the perfect choice for weddings, receptions, corporate events, conferences, seminars, birthday parties, and more. Our venue boasts modern amenities, including ample in-house parking, a serene temple complex, well-appointed private rooms for your comfort, and top-notch facilities to meet all your event needs.
                </p>
                <p class="">
                    Whether you're planning an elegant wedding, a milestone celebration, or a business gathering, {{site.title}} offers the perfect blend of sophistication and convenience. Let us help you create memories that last a lifetime!
                </p>
                <p class="strong">
                    {{site.title}} – Where luxury meets celebration.
                </p>
                <a href="{{site.calendy_url}}" target="_blank" class="btn btn-default btn-xl">
                    <i class='bx bx-calendar social-sm'></i> Meet us today
                </a>
            </div>
        </div>
    </div>
</section>
