<section class="bg-primary" id="findus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading highlight">Reach Us</h2>
                <!-- <h4 class="text-muted">We're here to help you</h4> -->
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="findus-row">
            <div class="findus-column">
                <h3 class="lead text-center">Address</h3>
                <p class="text-center">
                    426/1 & 426/2 Dum Dum Road,<br>
                    Melabagan Estate, Bagjolla, <br>
                    Dum Dum, Kolkata - 700 074<br>
                    West Bengal, <br>
                    India<br>
                </p>
            </div>
            <div class="findus-column">
                <h3 class="lead text-center">Get Direction</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.9109401911114!2d88.40282663135095!3d22.62079252419505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89f8a6db3f815%3A0x40441d6d4ffdb791!2sMelabagan%20Banquets!5e1!3m2!1sen!2sin!4v1735134277661!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="lead">Local Area Information</h3>
            </div>
        </div>

        <div class="findus-row">
            <div class="findus-column">
                    <ul>
                        <li><box-icon type='solid' name='church' class="icons-light"></box-icon> Hindu Temple: Within the premises</li>
                        <li><box-icon type='solid' name='train' class="icons-light"></box-icon> Dum Dum Train Station: 5 - 10 minutes by Local Transportation</li>
                        <li><box-icon type='solid' name='bus' class="icons-light"></box-icon> Dum Dum Chattakol Bus Stop: 2 minutes walk</li>
                        <li><box-icon type='solid' name='plane-alt' class="icons-light"></box-icon> Netaji Subhash Chandra Bose International Airport: 20 - 30 minutes by car</li>
                    </ul>
            </div>
            <div class="findus-column">
                <ul>
                    <li><box-icon type='solid' name='store-alt' class="icons-light"></box-icon> Dum Dum Fashion Factory: Opposite the venue.</li>
                    <li><box-icon type='solid' name='store-alt' class="icons-light"></box-icon> PVR Diamond Plaza Mall: 10 minutes by Local Transportation</li>
                    <li><box-icon name='plus-medical' class="icons-light"></box-icon> ILS Hospital, Dum Dum Nagerbazar branch: 5 - 10 minutes</li>
                    <li><box-icon name='capsule' type='solid' class="icons-light"></box-icon> Pharmacy: Within walking distance</li>
                    <!-- <li><box-icon type='solid' name='bowl-hot' class="icons-light"></box-icon> Sweet Shop, Biryani and other eateries: within walking distance</li> -->
                </ul>
            </div>
        </div>
    </div>

</section>
