<section class="bg-primary">
    <div class="container">
        <h4 class="highlight text-center">{{site.title | upcase}}</h4>
        <h5 class="text-center text-faded">Where luxury meets celebration</h5>
        <!-- <hr class="light"> -->
        <section class="divider"><img src="img/divider.png" alt="divider"></section>
        
        <div class="row flex-lg-row-reverse text-center footer-social">
            <div class="social">
                <a href="{{ site.facebook_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook socialicon-sm"></i>
                </a>

                <a href="{{ site.instagram_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram socialicon-sm"></i>
                </a>

                <a href="{{ site.whatsapp_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp socialicon-sm"></i>
                </a>

                <a href="mailTo:{{ site.email }}" class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-envelope socialicon-sm"></i>
                </a>

                <a href="{{ site.address_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-geo-fill socialicon-sm"></i>
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row text-center">
            <div class="footer-grid">
                <ul>
                    <li>
                        <a href="{{site.url}}/disclaimer" class="text-faded">DISCLAIMER</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/privacy" class="text-faded">PRIVACY & DATA PROTECTION POLICY</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/#contact" class="text-faded">FEEDBACK</a>
                    </li>

                    <li>
                        <a href="{{site.url}}/#contact" class="text-faded">COMPLAINTS & ESCALATION</a>
                    </li>
                    <li>
                        <a href="#" id="open_preferences_center" class="text-faded">UPDATE COOKIES PREFERENCE</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/faq" class="text-faded">FAQs</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <section class="divider"><img src="img/divider.png" alt="divider"></section>
        <br>
        <div class="row text-center footer-grid-credit">
            <div class="col-md-6 text-center">
                <h6 class="text-light">
                    &copy; COPYRIGHT 2025 <a href="{{site.baseurl}}/" class="text-faded">{{site.title | upcase}}</a>. ALL RIGHTS RESERVED.
                </h6>
            </div>
            <div class="col-md-6 text-center footer-grid-credit">
                <h6 class="text-light">
                    WEBSITE DESIGNED BY
                    <a href="{{site.developer_webpage}}" target="_blank" rel="noopener noreferrer" class="text-faded">
                        {{site.developer_name | upcase}}
                    </a>
                </h6>
            </div>
        </div>
    </div>
</section>