<header>
    <div class="header-content">
        <div class="header-content-inner">

            <div class="header-content-row">
               <div class="header-content-col">
                   <!--<h1><img src="img/logo-2.png" alt="logo" class="wow bounceIn" style="width: 40%;" /></h1> -->
                   <h1 class="wow slideInDown">Melabagan Banquets</h1>
                   <h2 class="brand-subtext-highlight wow slideInDown">
                       A Brand New Venue in the heart of Dum Dum, Kolkata
                   </h2>
                   <h2 class="brand-subtext-highlight">
                       Come and Celebrate <span class="change-text"></span> <br>with us.
                   </h2>
                   <br>
                   <section class="divider"><img src="img/divider.png" alt="divider"></section>
                   <a href="{{site.calendy_url}}" target="_blank" class="btn btn-primary btn-xl page-scroll">
                       <i class='bx bx-calendar social-sm'></i> BOOK TODAY
                   </a>
                   <!--<div class="tagembed-widget"
                        style="width:100%;height:100%;"
                        data-widget-id="2147073"
                        data-tags="false"
                        view-url="https://widget.tagembed.com/2147073">
                   </div>-->
                </div>

                <div class="header-content-col">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/1043937028?autoplay=1&loop=1&badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                frameborder="0" allow="autoplay; fullscreen"
                                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                title="Melabagan Banquets Highlight">
                        </iframe>
                    </div>

                </div>
            </div>
            <!-- <h1>
                <img src="img/logo-2.png" alt="logo" class="wow bounceIn" style="width: 20%;" />
            </h1>
            <h2 class="brand-subtext-highlight">
                ... where luxury meets celebration
            </h2>
            <br>
            <a href="{{site.calendy_url}}" target="_blank" class="btn btn-primary btn-xl page-scroll">
                <i class='bx bx-calendar social-sm'></i> BOOK TODAY
            </a> -->

            <!-- <h1>Celebrate</h1>
            <h1><span class="change-text-header"></span></h1>
            <h1>in Style</h1> -->
            <!-- <h2 class="brand-subtext-highlight">
                Elevate your <span class="change-text"></span> Experience with Melabagan Banquets
            </h2> -->
            <!-- <h4 class="brand-subtext-highlight">
                Brand New Banquet Hall in the heart of Dum Dum, Kolkata
            </h4> -->
            <!--<hr class="light">-->
            <!-- <section class="divider"><img src="img/divider.png" alt="divider"></section> -->
            <!--<a href="{{site.calendy_url}}" target="_blank" class="btn btn-primary btn-xl page-scroll">
                <i class='bx bx-calendar social-sm'></i> BOOK TODAY
            </a> -->



        </div>
        <div class="header-content-row-social">
            <div class="header-content-row-social-items">
                <a href="tel:{{site.phone_main}}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class='bx bxs-phone-call socialicon-sm'></i>
                </a>
                {{site.phone_main}} / {{site.phone_alt}}
            </div>
            <div class="header-content-row-social-items">
                <a href="mailTo:{{site.email}}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class='bx bx-envelope socialicon-sm'></i>
                </a>
                {{site.email}}
            </div>
            <!-- <div class="header-content-row-social-items">
                <a href="{{ site.facebook_url }}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook socialicon-sm bx"></i>
                </a>
            </div>
            <div class="header-content-row-social-items">
                <a href="{{ site.facebook_url }}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram socialicon-sm bx"></i>
                </a>
            </div>
            <div class="header-content-row-social-items">
                <a href="{{ site.whatsapp_url }}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp socialicon-sm bx"></i>
                </a>
            </div> -->
        </div>
    </div>
</header>
