<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-content-row">
               <div class="header-content-col">
                   <h1 class="wow slideInDown">Melabagan Banquets</h1>
                   <h2 class="brand-subtext-highlight wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                       <i>... where luxury meets celebration</i>
                   </h2>
                   <h4 class="brand-subtext-highlight">
                       A brand new banquet hall in the heart of Dum Dum, Kolkata. <br>
                       Come and Celebrate <span class="change-text"></span> with us.
                   </h4>
                   <br>
                   <section class="divider"><img src="img/divider.png" alt="divider"></section>
                   <!--<a href="{{site.calendy_url}}" target="_blank" class="btn btn-primary btn-xl page-scroll booknow-btn">
                       <i class='bx bx-calendar social-sm'></i> BOOK TODAY
                   </a>-->
                   <a href="tel:{{site.phone_main}}" target="_blank" class="btn btn-primary btn-md page-scroll booknow-btn">
                       <i class='bx bxs-phone-call socialicon-sm'>
                           <span class="socialicon-sm-text strong">{{site.phone_main}} / {{site.phone_alt}}</span>
                       </i>
                   </a>
                   <br>
                   <!--<a href="tel:{{site.phone_main}}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                       <i class='bx bxs-phone-call socialicon-sm'></i>
                   </a>
                   {{site.phone_main}} / {{site.phone_alt}} -->
                   <a href="mailTo:{{site.email}}" class="btn social-btn socialicon-xsm" target="_blank" rel="noopener noreferrer">
                       <i class='bx bx-envelope socialicon-sm'>
                           <span class="socialicon-sm-text">{{site.email}}</span>
                       </i>
                   </a>
                   <br>
                   <a href="{{site.calendy_url}}" class="btn social-btn socialicon-xsm" target="_blank" rel="noopener noreferrer">
                       <i class='bx bx-calendar socialicon-sm'>
                           <span class="socialicon-sm-text">BOOK A TOUR</span>
                       </i>
                   </a>
                   <br>

                </div>

                <div class="header-content-col header-video">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/1043937028?autoplay=1&loop=1&badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                frameborder="0" allow="autoplay; fullscreen"
                                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                title="Melabagan Banquets Highlight">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="header-content-row-social">
            <div class="header-content-row-social-items">
                <a href="tel:{{site.phone_main}}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class='bx bxs-phone-call socialicon-sm'></i>
                </a>
                {{site.phone_main}} / {{site.phone_alt}}
            </div>
            <div class="header-content-row-social-items">
                <a href="mailTo:{{site.email}}" class="btn social-btn" target="_blank" rel="noopener noreferrer">
                    <i class='bx bx-envelope socialicon-sm'></i>
                </a>
                {{site.email}}
            </div>
        </div>-->
    </div>
</header>
