<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Celebrate <span class="change-text-header"></span> in Style</h1>
            <h2 class="brand-subtext-highlight">
                Elevate your <span class="change-text"></span> Experience with Melabagan Banquets
            </h2>
            <h4 class="brand-subtext-highlight">
                Brand New Banquet Hall in the heart of Dum Dum, Kolkata
            </h4>
            <!--<hr class="light">-->
            <section class="divider"><img src="img/divider.png" alt="divider"></section>
            <a href="{{site.calendy_url}}" target="_blank" class="btn btn-primary btn-xl page-scroll">
                <i class='bx bx-calendar social-sm'></i> BOOK TODAY
            </a>

        </div>
        <div class="header-content-row-social">
            <a href="tel:{{site.phone_main}}" class="btn" target="_blank" rel="noopener noreferrer">
                <i class='bx bxs-phone-call socialicon-sm'></i>
            </a>
            {{site.phone_main}} / {{site.phone_alt}}
            <a href="mailTo:{{site.email}}" class="btn" target="_blank" rel="noopener noreferrer">
                <i class='bx bx-envelope socialicon-sm'></i>
            </a>
            {{site.email}}
        </div>
    </div>
</header>
