<nav id="mainNav" class="navbar navbar-default navbar-fixed-top bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            <img src="../img/logo.png" alt="logo" class="navbar-brand page-scroll" href="#page-top" /> -->
            {% if page.url == "/" %}
                <!--<a class="navbar-brand page-scroll" href="#page-top">
                    {{site.title}}
                </a>-->
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/logo-2.png" alt="logo" class="wow bounceIn nav-brand-img" />
                </a>

            {% else %}
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/">
                    <img src="img/logo-2.png" alt="logo" class="wow bounceIn nav-brand-img" />
                </a>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.url == "/" %}
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#gallery">Experience</a>
                    </li> -->
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Experience <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/photogallery" class="page-scroll">Photo Gallery</a></li>
                            <li><a href="{{site.baseurl}}/videogallery" class="page-scroll">Video Gallery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#testimonial">Testimonial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#findus">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                {% else %}
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#about">About Us</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="{{site.baseurl}}/#gallery">Experience</a>
                    </li>-->
                    <li class="dropdown">
                        <a href="{{site.baseurl}}/#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            Experience <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}/photogallery" class="page-scroll">Photo Gallery</a></li>
                            <li><a href="{{site.baseurl}}/videogallery" class="page-scroll">Video Gallery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#testimonial">Testimonial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#findus">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#contact">Contact</a>
                    </li>
                {% endif %}
                    <!--<li>
                        <a class="page-scroll" href="{{site.calendy_url}}" target="_blank">
                            <i class='bx bx-calendar social-sm'></i>
                            Book Today
                        </a>
                    </li> -->
                <li class="social-mobile">
                        <a href="{{ site.facebook_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-facebook socialicon-sm"></i>
                        </a>
                </li>
                <li class="social-mobile">
                    <a href="{{ site.instagram_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-instagram socialicon-sm"></i>
                    </a>
                </li>
                <li class="social-mobile">
                    <a href="{{ site.whatsapp_url }}" class="btn" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-whatsapp socialicon-sm"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
