<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<script src="js/swiper-bundle.min.js"></script>

<!-- vimeo script -->
<script src="https://player.vimeo.com/api/player.js"></script>

<!-- for popup of the images -->
<script>
document.querySelectorAll('.gallery-col .image').forEach(image => {
    image.addEventListener('click', () => {
        const imgSrc = image.querySelector('img').getAttribute('src');
        const popup = document.querySelector('.popup-image');
        popup.style.display = 'block';
        popup.querySelector('img').src = imgSrc;
    });
});

document.querySelector('.popup-image span').addEventListener('click', () => {
    document.querySelector('.popup-image').style.display = 'none';
});
</script>

<!-- swiper -->
<script>
document.addEventListener('DOMContentLoaded', () => {
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            grabCursor: true,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
 });
</script>


<!-- Google Analytics JavaScript -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_id}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics_id}}');
</script>