<section id="testimonial" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What People are Saying</h2>
                <h4 class="text-muted">Testimonials and Reviews</h4>
                <!--<hr>-->
                <section class="divider"><img src="img/divider.png" alt="divider"></section>
            </div>
        </div>
    </div>
    <div class="testimonial-container">
        <div class="testimonial swiper mySwiper">
            <div class="testimonial-content swiper-wrapper">
                {% for t in site.data.reviews %}
                <div class="slide swiper-slide">
                    <p class="">
                        {{t.testimonial.description}}
                    </p>
                    <i class="bx bxs-quote-left quote-icon"></i>
                    <div class="slide-details">
                        <span>
                            {{t.testimonial.author}}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- swiper navigation -->
            <div class="swiper-button-next swipper-nav-btn"></div>
            <div class="swiper-button-prev swipper-nav-btn"></div>
            <!-- pagination -->
            <div class="swiper-pagination"></div>

        </div>
    </div>

    <div class="container">
        <h4 class="text-center">
            <a href="{{ site.google_reviews_url }}" target="_blank" class="btn btn-primary btn-sm page-scroll">
                <i class='bi bi-google social-sm'></i> Check out more reviews
            </a>
        </h4>
    </div>
</section>