<section id="testimonial" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What People are Saying</h2>
                <h4 class="text-muted">Testimonials and Reviews</h4>
                <!--<hr>-->
                <section class="divider"><img src="img/divider.png" alt="divider"></section>
            </div>
        </div>
    </div>
    <div class="testimonial-container">
        <div class="testimonial swiper mySwiper">
            <div class="testimonial-content swiper-wrapper">
                <div class="slide swiper-slide">
                    <p class="">
                        ⭐A Perfect Venue for Memorable Celebrations.

                        💐Melabagan Banquet Hall stands out as an excellent venue for hosting a wide range of events, from weddings and receptions to corporate gatherings and private parties. Here's what makes it exceptional .

                        🙏 The hall is spacious enough to accommodate a large number of guests comfortably.
                        Whether you’re planning an intimate gathering or a grand celebration,

                        💯 The staff at Melabagan Banquet Hall are professional, attentive, and courteous. From event planning to execution, they go above and beyond to ensure everything runs smoothly, making your experience stress-free.
                    </p>
                    <i class="bx bxs-quote-left quote-icon"></i>
                    <div class="slide-details">
                        <span>Himanshu Pandey</span>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <p class="">
                        I recently hosted a family celebration at Melabagan Banquet Hall, and it was a wonderful experience from start to finish. The venue is spacious and beautifully decorated, offering a great mix of modern amenities with an elegant, welcoming atmosphere.
                    </p>
                    <i class="bx bxs-quote-left quote-icon"></i>
                    <div class="slide-details">
                        <span>Sourav Poddar</span>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <p class="">
                        One of the spacious and very big banquet and lawn(approx 8000sqft ) First time in Dum Dum road, best thing is that it was fully in ground floor very good for senior citizens how can't walk on stairs. And we know that parents get much tired to manage the guest from one floor to another but here the best thing is that the parents can fully cordinate and manage the guests because everything is in ground floor and last not the least very important is the parking Melabagan banquet have their own parking area...

                        Thank you
                        To the owner of
                        Melabagan banquet

                        For providing us such a beautiful and spacious banquet in Dum Dum road
                    </p>
                    <i class="bx bxs-quote-left quote-icon"></i>
                    <div class="slide-details">
                        <span>Rakesh Gupta</span>
                    </div>
                </div>
            </div>
            <!-- swiper navigation -->
            <div class="swiper-button-next swipper-nav-btn"></div>
            <div class="swiper-button-prev swipper-nav-btn"></div>
            <!-- pagination -->
            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>
